@tailwind base;
@tailwind components;
@tailwind utilities;

/* 添加自定义样式 */
.prose {
  @apply max-w-none;
}

.prose pre {
  @apply bg-gray-50 p-4 rounded;
}

.prose code {
  @apply text-sm;
}

.prose img {
  @apply rounded-lg;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
